<div id=MainData0>
<h2 align=center>员工基本情况表</h2>
<table class=TableBlock width=600 align=center>
	<tr>
		<td class=TableContent>工号</td>
		<td class=TableData><{$ID}></td>
		<td class=TableContent>姓名</td>
		<td class=TableData><{$Name}></td>
		<td class=TableContent>性别</td>
		<td class=TableData width=8%><{$Sex}></td>
		<td class=TableData rowspan=6 width=143 height=206><{$Picture}></td>
	</tr>

	<tr>
		<td class=TableContent>民族</td>
		<td class=TableData><{$National}></td>
		<td class=TableContent>出生年月</td>
		<td class=TableData><{$Birthday}></td>
		<td class=TableContent>政治面貌</td>
		<td class=TableData><{$Political}></td>
	</tr>

	<tr>
		<td class=TableContent>健康状况</td>
		<td class=TableData><{$Health}></td>
		<td class=TableContent>身高</td>
		<td class=TableData><{$Height}></td>
		<td class=TableContent>血型</td>
		<td class=TableData><{$Blood}></td>
	</tr>

	<tr>
		<td class=TableContent>体重</td>
		<td class=TableData><{$Weight}></td>
		<td class=TableContent>视力</td>
		<td class=TableData><{$Vision}></td>
		<td class=TableContent>婚姻状况</td>
		<td class=TableData><{$IsMarital}></td>
	</tr>

	<tr>
		<td class=TableContent>学历</td>
		<td class=TableData><{$Degree}></td>
		<td class=TableContent>何时工作</td>
		<td class=TableData><{$WhenWork}></td>
		<td class=TableContent>工龄</td>
		<td class=TableData><{$GongLing}></td>
	</tr>

	<tr>
		<td class=TableContent>毕业院校</td>
		<td class=TableData colspan=2><{$GradSchool}></td>
		<td class=TableContent>专业</td>
		<td class=TableData colspan=2><{$Professional}></td>
	</tr>

	<tr>
		<td class=TableContent>邮编</td>
		<td class=TableData><{$ZipCode}></td>
		<td class=TableContent>电话</td>
		<td class=TableData><{$Phone}></td>
		<td class=TableContent>电子邮箱</td>
		<td class=TableData colspan=2><{$Email}></td>
	</tr>

	<tr>
		<td class=TableContent>外语语种</td>
		<td class=TableData><{$ForLanguages}></td>
		<td class=TableContent>外语水平</td>
		<td class=TableData><{$Level}></td>
		<td class=TableContent>计算机水平</td>
		<td class=TableData colspan=2><{$ComLevel}></td>
	</tr>

	<tr>
		<td class=TableContent>职务</td>
		<td class=TableData><{$Position}></td>
		<td class=TableContent>职称</td>
		<td class=TableData><{$ZhiCheng}></td>
		<td class=TableContent>行政级别</td>
		<td class=TableData colspan=2><{$XingZhengJiBie}></td>
	</tr>

	<tr>
		<td class=TableContent>户口</td>
		<td class=TableData><{$HuKou}></td>
		<td class=TableContent>社保号</td>
		<td class=TableData><{$SheBaoHao}></td>
		<td class=TableContent>籍贯</td>
		<td class=TableData colspan=2><{$JiGuan}></td>
	</tr>

	<tr>
		<td class=TableContent>特长</td>
		<td class=TableData colspan=6><{$Specialty}></td>
	</tr>

	<tr>
		<td class=TableContent>入本单位日期</td>
		<td class=TableData><{$IntoUnitDay}></td>
		<td class=TableContent>本单位工龄</td>
		<td class=TableData><{$Gongling}></td>
		<td class=TableContent>离职日期</td>
		<td class=TableData colspan=2><{$LiZhiDay}></td>
	</tr>

	<tr>
		<td class=TableContent>本次合同签日</td>
		<td class=TableData><{$SignDay}></td>
		<td class=TableContent>本次合同终止日期</td>
		<td class=TableData><{$EndDay}></td>
		<td class=TableContent>首次签合同日期</td>
		<td class=TableData colspan=2><{$FirstSignDay}></td>
	</tr>

	<tr>
		<td class=TableContent>技能等级</td>
		<td class=TableData><{$JiNengDengJi}></td>
		<td class=TableContent>技能鉴定日期</td>
		<td class=TableData><{$JiNengJianDing}></td>
		<td class=TableContent>工资等级</td>
		<td class=TableData colspan=2><{$GongZiDengJi}></td>
	</tr>

	<tr>
		<td class=TableContent>岗位类别</td>
		<td class=TableData><{$GangWeiLeiBie}></td>
		<td class=TableContent>岗位名称</td>
		<td class=TableData><{$GangWeiMingCheng}></td>
		<td class=TableContent>岗位技能分数</td>
		<td class=TableData colspan=2><{$JiNengScores}></td>
	</tr>

	<tr>
		<td class=TableContent>开户银行</td>
		<td class=TableData colspan=2><{$Bank}></td>
		<td class=TableContent>银行账号</td>
		<td class=TableData colspan=3><{$BankAccount}></td>
	</tr>
    
	<tr height=50>
		<td class=TableContent>工作经历</td>
		<td class=TableData colspan=6><{$GongZuoJingLi}></td>
	</tr>

	<tr height=50>
		<td class=TableContent rowspan=5>社会关系</td>
		<td class=TableData rowspan=5 colspan=6><{$SocialRelations}></td>
	</tr>
</table></div>