A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.A1:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.A1:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.A1:active {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A.A1:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #eeeaeb; FONT-SIZE: 12pt; SCROLLBAR-HIGHLIGHT-COLOR: #fbfdfc; SCROLLBAR-SHADOW-COLOR: #170708; SCROLLBAR-3DLIGHT-COLOR: #170708; SCROLLBAR-ARROW-COLOR: #000000; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #170708
}
.bodycolor {
	BACKGROUND: #677cad
}
.loginbodycolor {
	BACKGROUND: #6ba2d8
}
.topbar {
	FONT-SIZE: 9pt; BACKGROUND: url(/theme/3/topbar.gif) #c4d9ef
}
.topbar2 {
	FONT-SIZE: 9pt; BACKGROUND: url(/theme/3/menubg.gif) #c4d9ef
}
#Nav A {
	DISPLAY: block; COLOR: #000000; POSITION: relative
}
#Nav A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 4px; BACKGROUND-COLOR: #677cad
}
.panel {
	BACKGROUND: #c4d9ef; COLOR: #654125
}
.timebar {
	BACKGROUND: #cedff1
}
.statusbar {
	BACKGROUND-IMAGE: url(/theme/3/statusbar.gif)
}
.col {
	BACKGROUND: url(/theme/3/col.gif) #c4d9ef
}
.small {
	FONT-SIZE: 9pt
}
.small1 {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
.big {
	FONT-SIZE: 12pt
}
.big1 {
	FONT-SIZE: 12pt; COLOR: #ffffff
}
.big2 {
	FONT-SIZE: 18pt
}
.big3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff
}
.big4 {
	COLOR: #ff0000
}
.verybig {
	FONT-SIZE: 24pt
}
INPUT.SmallButton {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(/theme/3/button_back.gif); BORDER-LEFT: black 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; HEIGHT: 19px; TEXT-DECORATION: none
}
INPUT.BigButton {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 12pt; BACKGROUND-IMAGE: url(/theme/3/button_back.gif); BORDER-LEFT: black 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; HEIGHT: 24px; TEXT-DECORATION: none
}
INPUT.SmallInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.SmallInput1 {
	BORDER-RIGHT: 0px; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.SmallInput2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: 0px; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 0px; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.SmallInput3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: 0px; WIDTH: 60px; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 0px; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.BigInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
INPUT.BigInputMoney {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; TEXT-ALIGN: right; FONT-VARIANT: normal
}
INPUT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.BigSelect {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallSelect {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
TEXTAREA.BigInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; FONT-VARIANT: normal
}
TEXTAREA.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; FONT-VARIANT: normal
}
.TableControl {
	BACKGROUND: #eff7ff
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; BACKGROUND: url(/theme/3/headerbg.gif) #d3e5fa; COLOR: #3f3f7e
}
.TableHeader1 {
	BACKGROUND: url(/theme/3/button_back.gif) #d3e5fa; CURSOR: hand; COLOR: #000066
}
.TableHeader2 {
	FONT-WEIGHT: bold; BACKGROUND: url(/theme/3/menubg.gif) #d3e5fa; CURSOR: hand; COLOR: #000066
}
.TableContent {
	BACKGROUND: #e2e8fa
}
.TableData {
	BACKGROUND: #ffffff; COLOR: #000000
}
.TableLine6 {
	BACKGROUND: #c0ff00
}
.TableLine2 {
	BACKGROUND: #c0ff80
}
.TableLine4 {
	BACKGROUND: #ffc0a0
}
.TableLine3 {
	BACKGROUND: #ffa040
}
.TableLine5 {
	BACKGROUND: #ffc0ff
}
.TableLine1 {
	BACKGROUND: #f3f3f3
}
.TextColor1 {
	COLOR: #ff6600
}
.TextColor2 {
	COLOR: #ff0000
}
.top {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.tabpane-frame {
	BORDER-RIGHT: black 1px outset; BORDER-TOP: black 1px outset; OVERFLOW: hidden; BORDER-LEFT: black 1px outset; WIDTH: 100%; BORDER-BOTTOM: black 1px outset; HEIGHT: 100%
}
.tabpane-selected {
	BORDER-RIGHT: #fa843c 0px solid; BORDER-TOP: #fa843c 0px solid; BACKGROUND: #f6f6f6; VERTICAL-ALIGN: bottom; BORDER-LEFT: #fa843c 0px solid; BORDER-BOTTOM: #fa843c 0px solid; WHITE-SPACE: nowrap; POSITION: relative
}
.tabpane-unselected {
	BORDER-RIGHT: #fa843c 0px solid; BORDER-TOP: #fa843c 0px solid; BACKGROUND: #f6f6f6; VERTICAL-ALIGN: bottom; BORDER-LEFT: #fa843c 0px solid; BORDER-BOTTOM: #fa843c 0px solid; WHITE-SPACE: nowrap; POSITION: relative
}
.tabpane-selected {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/theme/3/ka_di(1).gif); PADDING-BOTTOM: 0px; COLOR: #ff650a; PADDING-TOP: 6px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; TOP: 1px; HEIGHT: 30px
}
.tabpane-unselected {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #9c9c9c; BACKGROUND-IMAGE: url(/theme/3/ka_di1(1).gif); PADDING-BOTTOM: 0px; COLOR: black; BORDER-TOP-COLOR: #9c9c9c; PADDING-TOP: 6px; BACKGROUND-REPEAT: no-repeat; TOP: 0px; HEIGHT: 30px; BORDER-RIGHT-COLOR: #9c9c9c
}
.tabpane-pane0 {
	FONT-SIZE: 1px; BACKGROUND: #f6f6f6; OVERFLOW: hidden
}
.tabpane-pane {
	FONT-SIZE: 1px; BACKGROUND: #fa843c; OVERFLOW: hidden
}
.dataLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, ו; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: right
}
.required {
	COLOR: #ff0000
}
.formOuterBorder {
	BORDER-RIGHT: #afc8e4 1px solid; BORDER-TOP: #afc8e4 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #afc8e4 1px solid; BORDER-BOTTOM: #afc8e4 1px solid; backgroud-color: #FFFFFF
}
.formSecHeader {
	PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: ו; HEIGHT: 20px; BACKGROUND-COLOR: #d1dfef
}
.formHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fd4102; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.formHeaderULine {
	BORDER-BOTTOM: #000 1px solid
}
.formBorder {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 6px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #c6d7ec
}
.formFooter {
	FONT-WEIGHT: normal; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c6d7ec; TEXT-DECORATION: none
}
.moduleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #242471; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hline {
	BORDER-BOTTOM: #ccc 1px solid
}
.fieldListTitle {
	BORDER-TOP: #fff 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: #fff 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
.listFormHeaderLinks {
	FONT-WEIGHT: lighter; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.moduleListTitle {
	BORDER-TOP: #fff 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #fff 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
.evenListRow {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #f5f5f5
}
.oddListRow {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
.button {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 1px; CURSOR: pointer; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 1px
}
.blackLine {
	BACKGROUND-COLOR: #afc8e4
}
.operator {
	FONT-SIZE: 10pt; COLOR: #132222
}
.static {
	BORDER-RIGHT: #afc8e4 1px solid; BORDER-TOP: #afc8e4 1px solid; MARGIN-TOP: 2px; BACKGROUND: #f0f0f0; BORDER-LEFT: #afc8e4 1px solid; BORDER-BOTTOM: #afc8e4 1px solid; backgroud-color: #FFFFFF
}
.listText {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 100%; CURSOR: default; PADDING-TOP: 2px; FONT-FAMILY: Arial
}
.sel {
	BACKGROUND: #0a246a; COLOR: #fff
}
A:link {
	FONT-SIZE: 10pt; COLOR: #3535a2
}
A:active {
	FONT-SIZE: 10pt; COLOR: #3535a2
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #3535a2
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
