*{padding:0px;margin:0px;}
body{background:#e3eef2;font-size:9pt;margin-top:5px;margin-left:10px;}
A:link { COLOR: #0066cc; TEXT-DECORATION: none;}
A:visited { COLOR: #0066cc; TEXT-DECORATION: none}
A:active  { COLOR: #3333ff; TEXT-DECORATION: underline}
A:hover   { COLOR: #ff0000; TEXT-DECORATION: underline}